USE [master]
GO
/****** Object:  Database [QuanLyVeTauTest]    Script Date: 23/10/2025 10:28:10 CH ******/
CREATE DATABASE [QuanLyVeTauTest]
 CONTAINMENT = NONE

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyVeTauTest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyVeTauTest]
GO
/****** Object:  Table [dbo].[CaLamViec]    Script Date: 23/10/2025 10:28:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaLamViec](
	[MaCaLamViec] [int] IDENTITY(1,1) NOT NULL,
	[MaNV] [nvarchar](50) NOT NULL,
	[ThoiGianBatDau] [datetime] NULL,
	[ThoiGianKetThuc] [datetime] NULL,
 CONSTRAINT [PK_CaLamViec] PRIMARY KEY CLUSTERED 
(
	[MaCaLamViec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 23/10/2025 10:28:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaHD] [nvarchar](20) NOT NULL,
	[MaVe] [nvarchar](20) NOT NULL,
	[SoLuong] [int] NOT NULL,
 CONSTRAINT [PK_ChiTietHoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaVe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChoDat]    Script Date: 23/10/2025 10:28:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChoDat](
	[MaCho] [nvarchar](20) NOT NULL,
	[MaToa] [nvarchar](10) NOT NULL,
	[SoCho] [nvarchar](10) NULL,
	[LoaiCho] [nvarchar](50) NULL,
	[Khoang] [int] NULL,
	[Tang] [int] NULL,
 CONSTRAINT [PK_ChoDat] PRIMARY KEY CLUSTERED 
(
	[MaCho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChuyenTau]    Script Date: 23/10/2025 10:28:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuyenTau](
	[MaChuyenTau] [nvarchar](50) NOT NULL,
	[MaTau] [nvarchar](10) NOT NULL,
	[MaNV] [nvarchar](50) NULL,
	[MaGaKhoiHanh] [nvarchar](10) NOT NULL,
	[MaGaDen] [nvarchar](10) NOT NULL,
	[NgayKhoiHanh] [date] NOT NULL,
	[GioKhoiHanh] [time](7) NULL,
	[NgayDenDuKien] [date] NULL,
	[GioDenDuKien] [time](7) NULL,
	[TrangThai] [nvarchar](50) NULL,
 CONSTRAINT [PK_ChuyenTau] PRIMARY KEY CLUSTERED 
(
	[MaChuyenTau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ga]    Script Date: 23/10/2025 10:28:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ga](
	[MaGa] [nvarchar](10) NOT NULL,
	[TenGa] [nvarchar](100) NOT NULL,
	[DiaChi] [nvarchar](255) NULL,
 CONSTRAINT [PK_Ga] PRIMARY KEY CLUSTERED 
(
	[MaGa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 23/10/2025 10:28:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [nvarchar](20) NOT NULL,
	[MaKhachHang] [nvarchar](12) NOT NULL,
	[MaNVLap] [nvarchar](50) NOT NULL,
	[MaKM] [nvarchar](10) NULL,
	[TongTien] [decimal](18, 0) NULL,
	[NgayLap] [datetime] NULL,
	[PhuongThuc] [nvarchar](100) NULL,
	[LoaiHoaDon] [nvarchar](100) NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 23/10/2025 10:28:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhachHang] [nvarchar](12) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[CCCD] [char](12) NULL,
	[Tuoi] [int] NULL,
	[SoDienThoai] [varchar](15) NULL,
	[GioiTinh] [nvarchar](50) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 23/10/2025 10:28:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[MaKM] [nvarchar](10) NOT NULL,
	[TenKM] [nvarchar](100) NOT NULL,
	[NgayBatDau] [date] NULL,
	[NgayKetThuc] [date] NULL,
	[MoTa] [nvarchar](100) NULL,
	[PhanTramGiam] [float] NULL,
 CONSTRAINT [PK_KhuyenMai] PRIMARY KEY CLUSTERED 
(
	[MaKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiVe]    Script Date: 23/10/2025 10:28:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiVe](
	[MaLoaiVe] [nvarchar](10) NOT NULL,
	[TenLoaiVe] [nvarchar](50) NOT NULL,
	[MucGiamGia] [float] NULL,
 CONSTRAINT [PK_LoaiVe] PRIMARY KEY CLUSTERED 
(
	[MaLoaiVe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 23/10/2025 10:28:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [nvarchar](50) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[SoCCCD] [nvarchar](100) NULL,
	[NgaySinh] [date] NULL,
	[Email] [nvarchar](100) NULL,
	[SDT] [nvarchar](100) NULL,
	[GioiTinh] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](255) NOT NULL,
	[NgayVaoLam] [date] NULL,
	[ChucVu] [nvarchar](100) NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 23/10/2025 10:28:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MaNV] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
	[NgayTao] [datetime] NULL,
	[TrangThai] [nvarchar](50) NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tau]    Script Date: 23/10/2025 10:28:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tau](
	[MaTau] [nvarchar](10) NOT NULL,
	[SoHieu] [nvarchar](50) NOT NULL,
	[TrangThai] [nvarchar](50) NULL,
 CONSTRAINT [PK_Tau] PRIMARY KEY CLUSTERED 
(
	[MaTau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Toa]    Script Date: 23/10/2025 10:28:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Toa](
	[MaToa] [nvarchar](10) NOT NULL,
	[MaTau] [nvarchar](10) NOT NULL,
	[LoaiToa] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Toa] PRIMARY KEY CLUSTERED 
(
	[MaToa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ve]    Script Date: 23/10/2025 10:28:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ve](
	[MaVe] [nvarchar](20) NOT NULL,
	[MaChuyenTau] [nvarchar](50) NOT NULL,
	[MaChoDat] [nvarchar](20) NOT NULL,
	[MaNV] [nchar](10) NULL,
	[MaKhachHang] [nvarchar](12) NULL,
	[MaLoaiVe] [nvarchar](10) NOT NULL,
	[GiaVe] [decimal](18, 0) NULL,
	[TrangThai] [nvarchar](50) NULL,
 CONSTRAINT [PK_Ve] PRIMARY KEY CLUSTERED 
(
	[MaVe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaVe], [SoLuong]) VALUES (N'HD0117102500020001', N'VE0117102500001', 1)
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaVe], [SoLuong]) VALUES (N'HD0117102500020002', N'VE0117102500002', 1)
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaVe], [SoLuong]) VALUES (N'HD0125102500020003', N'VE0125102500003', 1)
GO
INSERT [dbo].[ChoDat] ([MaCho], [MaToa], [SoCho], [LoaiCho], [Khoang], [Tang]) VALUES (N'C01-A-T001', N'T001-A', N'01A', N'Ghế mềm', 1, NULL)
INSERT [dbo].[ChoDat] ([MaCho], [MaToa], [SoCho], [LoaiCho], [Khoang], [Tang]) VALUES (N'C01-B-T001', N'T001-B', N'K1T1', N'Giường nằm', 1, 1)
INSERT [dbo].[ChoDat] ([MaCho], [MaToa], [SoCho], [LoaiCho], [Khoang], [Tang]) VALUES (N'C01---T002', N'T002-C', N'01', N'Ghế cứng', NULL, NULL)
GO
INSERT [dbo].[ChuyenTau] ([MaChuyenTau], [MaTau], [MaNV], [MaGaKhoiHanh], [MaGaDen], [NgayKhoiHanh], [GioKhoiHanh], [NgayDenDuKien], [GioDenDuKien], [TrangThai]) VALUES (N'CTSE1DN_SG06', N'T001', N'NVBV001', N'GADN', N'GASA', CAST(N'2025-11-10' AS Date), CAST(N'11:00:00' AS Time), CAST(N'2025-11-11' AS Date), CAST(N'03:00:00' AS Time), N'Chờ Khởi Hành')
INSERT [dbo].[ChuyenTau] ([MaChuyenTau], [MaTau], [MaNV], [MaGaKhoiHanh], [MaGaDen], [NgayKhoiHanh], [GioKhoiHanh], [NgayDenDuKien], [GioDenDuKien], [TrangThai]) VALUES (N'CTSE1HN_DN01', N'T001', N'NVQL002', N'GAHN', N'GADN', CAST(N'2025-11-01' AS Date), CAST(N'20:00:00' AS Time), CAST(N'2025-11-02' AS Date), CAST(N'11:30:00' AS Time), N'Chờ Khởi Hành')
INSERT [dbo].[ChuyenTau] ([MaChuyenTau], [MaTau], [MaNV], [MaGaKhoiHanh], [MaGaDen], [NgayKhoiHanh], [GioKhoiHanh], [NgayDenDuKien], [GioDenDuKien], [TrangThai]) VALUES (N'CTSE2DN_SG05', N'T002', N'NVQL001', N'GADN', N'GASA', CAST(N'2025-11-10' AS Date), CAST(N'08:30:00' AS Time), CAST(N'2025-11-11' AS Date), CAST(N'06:00:00' AS Time), N'Chờ Khởi Hành')
GO
INSERT [dbo].[Ga] ([MaGa], [TenGa], [DiaChi]) VALUES (N'GADN', N'Ga Đà Nẵng', N'791 Hải Phòng, Đà Nẵng')
INSERT [dbo].[Ga] ([MaGa], [TenGa], [DiaChi]) VALUES (N'GAHN', N'Ga Hà Nội', N'120 Lê Duẩn, Hà Nội')
INSERT [dbo].[Ga] ([MaGa], [TenGa], [DiaChi]) VALUES (N'GANT', N'Ga Nha Trang', N'17 Thái Nguyên, Nha Trang')
GO
INSERT [dbo].[HoaDon] ([MaHD], [MaKhachHang], [MaNVLap], [MaKM], [TongTien], [NgayLap], [PhuongThuc], [LoaiHoaDon]) VALUES (N'HD0117102500020001', N'KH1710250001', N'NVBV001', N'KM50K', CAST(1650000 AS Decimal(18, 0)), CAST(N'2025-10-17T10:30:00.000' AS DateTime), N'Chuyển khoản', N'Bán vé trực tiếp')
INSERT [dbo].[HoaDon] ([MaHD], [MaKhachHang], [MaNVLap], [MaKM], [TongTien], [NgayLap], [PhuongThuc], [LoaiHoaDon]) VALUES (N'HD0117102500020002', N'KH1710250002', N'NVBV001', N'GIAM10', CAST(850000 AS Decimal(18, 0)), CAST(N'2025-10-17T11:00:00.000' AS DateTime), N'Tiền mặt', N'Bán vé trực tiếp')
INSERT [dbo].[HoaDon] ([MaHD], [MaKhachHang], [MaNVLap], [MaKM], [TongTien], [NgayLap], [PhuongThuc], [LoaiHoaDon]) VALUES (N'HD0125102500020003', N'KH2510250004', N'NVBV001', NULL, CAST(600000 AS Decimal(18, 0)), CAST(N'2025-10-25T14:00:00.000' AS DateTime), N'Tiền mặt', N'Bán vé trực tiếp')
GO
INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTen], [CCCD], [Tuoi], [SoDienThoai], [GioiTinh]) VALUES (N'KH1710250001', N'Nguyễn Văn Khánh', N'079299000001', 26, N'0912111222', N'Nam')
INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTen], [CCCD], [Tuoi], [SoDienThoai], [GioiTinh]) VALUES (N'KH1710250002', N'Đỗ Thị Mai', N'079299000002', 35, N'0912333444', N'Nữ')
INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTen], [CCCD], [Tuoi], [SoDienThoai], [GioiTinh]) VALUES (N'KH1710250003', N'Hoàng Văn Nam', N'079299000003', 10, N'0912555666', N'Nam')
GO
INSERT [dbo].[KhuyenMai] ([MaKM], [TenKM], [NgayBatDau], [NgayKetThuc], [MoTa], [PhanTramGiam]) VALUES (N'GIAM10', N'Giảm 10%', CAST(N'2025-10-15' AS Date), CAST(N'2025-10-31' AS Date), N'Giảm trực tiếp 10% tổng hóa đơn', 0.1)
INSERT [dbo].[KhuyenMai] ([MaKM], [TenKM], [NgayBatDau], [NgayKetThuc], [MoTa], [PhanTramGiam]) VALUES (N'KM50K', N'Giảm giá 50k', CAST(N'2025-10-01' AS Date), CAST(N'2025-11-30' AS Date), N'Giảm 50.000 VNĐ cho đơn hàng trên 500k', NULL)
GO
INSERT [dbo].[LoaiVe] ([MaLoaiVe], [TenLoaiVe], [MucGiamGia]) VALUES (N'VT01', N'Người lớn', 0)
INSERT [dbo].[LoaiVe] ([MaLoaiVe], [TenLoaiVe], [MucGiamGia]) VALUES (N'VT02', N'Trẻ em (Dưới 12)', 0.25)
INSERT [dbo].[LoaiVe] ([MaLoaiVe], [TenLoaiVe], [MucGiamGia]) VALUES (N'VT03', N'Sinh viên', 0.2)
GO
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [SoCCCD], [NgaySinh], [Email], [SDT], [GioiTinh], [DiaChi], [NgayVaoLam], [ChucVu]) VALUES (N'NVBV001', N'Lê Thị B', N'001198000002', CAST(N'1998-10-22' AS Date), N'thib@vetausg.vn', N'0902345678', N'Nữ', N'200 Trường Chinh, TP. HCM', CAST(N'2020-01-10' AS Date), N'Nhân viên bán vé')
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [SoCCCD], [NgaySinh], [Email], [SDT], [GioiTinh], [DiaChi], [NgayVaoLam], [ChucVu]) VALUES (N'NVQL001', N'Trần Văn A', N'001195000001', CAST(N'1995-05-15' AS Date), N'vantrana@vetausg.vn', N'0901234567', N'Nam', N'100 Quang Trung, Hà Nội', CAST(N'2018-08-20' AS Date), N'Trưởng phòng')
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [SoCCCD], [NgaySinh], [Email], [SDT], [GioiTinh], [DiaChi], [NgayVaoLam], [ChucVu]) VALUES (N'NVQL002', N'Phạm Văn C', N'001190000003', CAST(N'1990-01-01' AS Date), N'vanphamc@vetausg.vn', N'0903456789', N'Nam', N'300 Hai Bà Trưng, Đà Nẵng', CAST(N'2015-03-05' AS Date), N'Quản lý')
GO
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MaNV], [MatKhau], [NgayTao], [TrangThai]) VALUES (N'admin.a', N'NVQL001', N'123', CAST(N'2025-10-17T15:32:05.287' AS DateTime), N'Hoạt động')
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MaNV], [MatKhau], [NgayTao], [TrangThai]) VALUES (N'nvbanve', N'NVBV001', N'456', CAST(N'2025-10-17T15:32:05.287' AS DateTime), N'Hoạt động')
GO
INSERT [dbo].[Tau] ([MaTau], [SoHieu], [TrangThai]) VALUES (N'T001', N'SE1', N'Đang hoạt động')
INSERT [dbo].[Tau] ([MaTau], [SoHieu], [TrangThai]) VALUES (N'T002', N'SE2', N'Đang bảo trì')
INSERT [dbo].[Tau] ([MaTau], [SoHieu], [TrangThai]) VALUES (N'T003', N'SE3', N'Đang hoạt động')
GO
INSERT [dbo].[Toa] ([MaToa], [MaTau], [LoaiToa]) VALUES (N'T001-A', N'T001', N'Ghế mềm điều hòa')
INSERT [dbo].[Toa] ([MaToa], [MaTau], [LoaiToa]) VALUES (N'T001-B', N'T001', N'Giường nằm điều hòa')
INSERT [dbo].[Toa] ([MaToa], [MaTau], [LoaiToa]) VALUES (N'T002-C', N'T002', N'Ghế cứng')
GO
INSERT [dbo].[Ve] ([MaVe], [MaChuyenTau], [MaChoDat], [MaNV], [MaKhachHang], [MaLoaiVe], [GiaVe], [TrangThai]) VALUES (N'VE0117102500001', N'CTSE1HN_DN01', N'C01-A-T001', N'NVQL001   ', N'KH1710250001', N'VT01', CAST(850000 AS Decimal(18, 0)), N'DA-BAN')
INSERT [dbo].[Ve] ([MaVe], [MaChuyenTau], [MaChoDat], [MaNV], [MaKhachHang], [MaLoaiVe], [GiaVe], [TrangThai]) VALUES (N'VE0117102500002', N'CTSE1HN_DN01', N'C02-A-T001', N'NVQL001   ', N'KH1710250002', N'VT01', CAST(850000 AS Decimal(18, 0)), N'DA-BAN')
INSERT [dbo].[Ve] ([MaVe], [MaChuyenTau], [MaChoDat], [MaNV], [MaKhachHang], [MaLoaiVe], [GiaVe], [TrangThai]) VALUES (N'VE0125102500003', N'CTSE1DN_SG06', N'C03-A-T001', N'NVBV001   ', N'KH2510250004', N'VT01', CAST(600000 AS Decimal(18, 0)), N'DA-BAN')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_KhachHang_CCCD]    Script Date: 23/10/2025 10:28:11 CH ******/
ALTER TABLE [dbo].[KhachHang] ADD  CONSTRAINT [UQ_KhachHang_CCCD] UNIQUE NONCLUSTERED 
(
	[CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_NhanVien_SoCCCD]    Script Date: 23/10/2025 10:28:11 CH ******/
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [UQ_NhanVien_SoCCCD] UNIQUE NONCLUSTERED 
(
	[SoCCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_TaiKhoan_MaNV]    Script Date: 23/10/2025 10:28:11 CH ******/
ALTER TABLE [dbo].[TaiKhoan] ADD  CONSTRAINT [UQ_TaiKhoan_MaNV] UNIQUE NONCLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HoaDon] ADD  CONSTRAINT [DF_HoaDon_NgayLap]  DEFAULT (getdate()) FOR [NgayLap]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  CONSTRAINT [DF_TaiKhoan_NgayTao]  DEFAULT (getdate()) FOR [NgayTao]
GO
USE [master]
GO
