USE [master]
GO
/****** Object:  Database [QuanLyVeTau]    Script Date: 14/12/2025 7:39:32 CH ******/
CREATE DATABASE [QuanLyVeTau]
 CONTAINMENT = NONE

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyVeTau].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyVeTau]
GO
/****** Object:  Table [dbo].[CaLamViec]    Script Date: 14/12/2025 7:39:32 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaLamViec](
	[MaCaLamViec] [int] IDENTITY(1,1) NOT NULL,
	[ThoiGianBatDau] [datetime] NULL,
	[ThoiGianKetThuc] [datetime] NULL,
 CONSTRAINT [PK_CaLamViec] PRIMARY KEY CLUSTERED 
(
	[MaCaLamViec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 14/12/2025 7:39:32 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaHD] [nvarchar](50) NOT NULL,
	[MaVe] [nvarchar](20) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](12, 0) NOT NULL,
 CONSTRAINT [PK_ChiTietHoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaVe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChoDat]    Script Date: 14/12/2025 7:39:32 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChoDat](
	[MaCho] [nvarchar](20) NOT NULL,
	[MaToa] [nvarchar](10) NOT NULL,
	[SoCho] [nvarchar](10) NULL,
	[LoaiCho] [nvarchar](50) NULL,
	[Khoang] [int] NULL,
	[Tang] [int] NULL,
 CONSTRAINT [PK_ChoDat] PRIMARY KEY CLUSTERED 
(
	[MaCho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChuyenTau]    Script Date: 14/12/2025 7:39:32 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuyenTau](
	[MaChuyenTau] [nvarchar](50) NOT NULL,
	[MaTau] [nvarchar](10) NOT NULL,
	[MaNV] [nvarchar](50) NULL,
	[GaDi] [nvarchar](50) NOT NULL,
	[GaDen] [nvarchar](50) NOT NULL,
	[NgayKhoiHanh] [date] NOT NULL,
	[GioKhoiHanh] [time](7) NULL,
	[NgayDenDuKien] [date] NOT NULL,
	[GioDenDuKien] [time](7) NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChuyenTau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DieuKienKhuyenMai]    Script Date: 14/12/2025 7:39:32 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DieuKienKhuyenMai](
	[MaDieuKien] [int] IDENTITY(1,1) NOT NULL,
	[MaKM] [nvarchar](20) NOT NULL,
	[LoaiDieuKien] [nvarchar](50) NOT NULL,
	[GiaTriDoiChieu] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_DieuKienKhuyenMai] PRIMARY KEY CLUSTERED 
(
	[MaDieuKien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ga]    Script Date: 14/12/2025 7:39:32 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ga](
	[MaGa] [nvarchar](10) NOT NULL,
	[TenGa] [nvarchar](100) NOT NULL,
	[DiaChi] [nvarchar](255) NULL,
 CONSTRAINT [PK_Ga] PRIMARY KEY CLUSTERED 
(
	[MaGa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 14/12/2025 7:39:32 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [nvarchar](50) NOT NULL,
	[MaKhachHang] [nvarchar](12) NOT NULL,
	[MaNVLap] [nvarchar](50) NOT NULL,
	[MaKM] [nvarchar](10) NULL,
	[TongCong] [decimal](18, 0) NULL,
	[NgayLap] [datetime] NULL,
	[PhuongThuc] [nvarchar](100) NULL,
	[LoaiHoaDon] [nvarchar](100) NULL,
	[TongTien] [decimal](12, 0) NULL,
	[MaHD_Goc] [nvarchar](50) NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 14/12/2025 7:39:32 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhachHang] [nvarchar](12) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[CCCD] [char](12) NULL,
	[Tuoi] [int] NULL,
	[SoDienThoai] [varchar](15) NULL,
	[GioiTinh] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 14/12/2025 7:39:32 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[MaKM] [nvarchar](20) NOT NULL,
	[TenKM] [nvarchar](100) NOT NULL,
	[NgayBatDau] [date] NULL,
	[NgayKetThuc] [date] NULL,
	[MoTa] [nvarchar](255) NULL,
	[PhanTramGiam] [decimal](7, 4) NOT NULL,
	[GiaTienGiamTru] [decimal](18, 0) NOT NULL,
	[LoaiApDung] [nvarchar](50) NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_KhuyenMai] PRIMARY KEY CLUSTERED 
(
	[MaKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiVe]    Script Date: 14/12/2025 7:39:32 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiVe](
	[MaLoaiVe] [nvarchar](10) NOT NULL,
	[TenLoaiVe] [nvarchar](50) NOT NULL,
	[MucGiamGia] [float] NULL,
 CONSTRAINT [PK_LoaiVe] PRIMARY KEY CLUSTERED 
(
	[MaLoaiVe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 14/12/2025 7:39:32 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [nvarchar](50) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[SoCCCD] [nvarchar](100) NULL,
	[NgaySinh] [date] NULL,
	[Email] [nvarchar](100) NULL,
	[SDT] [nvarchar](100) NULL,
	[GioiTinh] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](255) NOT NULL,
	[NgayVaoLam] [date] NULL,
	[ChucVu] [nvarchar](100) NULL,
	[CaLamViec] [int] NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 14/12/2025 7:39:32 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MaNV] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
	[NgayTao] [datetime] NULL,
	[TrangThai] [nvarchar](50) NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tau]    Script Date: 14/12/2025 7:39:32 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tau](
	[SoHieu] [varchar](10) NOT NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[SoHieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Toa]    Script Date: 14/12/2025 7:39:32 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Toa](
	[MaToa] [nvarchar](10) NOT NULL,
	[SoHieuTau] [nvarchar](10) NOT NULL,
	[LoaiToa] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Toa] PRIMARY KEY CLUSTERED 
(
	[MaToa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ve]    Script Date: 14/12/2025 7:39:32 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ve](
	[MaVe] [nvarchar](20) NOT NULL,
	[MaChuyenTau] [nvarchar](50) NOT NULL,
	[MaChoDat] [nvarchar](20) NOT NULL,
	[MaNV] [nchar](10) NULL,
	[MaKhachHang] [nvarchar](12) NULL,
	[MaLoaiVe] [nvarchar](10) NOT NULL,
	[GiaVe] [decimal](18, 0) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[ThanhTien] [decimal](18, 0) NULL,
 CONSTRAINT [PK_Ve] PRIMARY KEY CLUSTERED 
(
	[MaVe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CaLamViec] ON 

INSERT [dbo].[CaLamViec] ([MaCaLamViec], [ThoiGianBatDau], [ThoiGianKetThuc]) VALUES (1, CAST(N'2025-10-17T08:00:00.000' AS DateTime), CAST(N'2025-10-17T12:00:00.000' AS DateTime))
INSERT [dbo].[CaLamViec] ([MaCaLamViec], [ThoiGianBatDau], [ThoiGianKetThuc]) VALUES (2, CAST(N'2025-10-18T13:00:00.000' AS DateTime), CAST(N'2025-10-18T17:00:00.000' AS DateTime))
INSERT [dbo].[CaLamViec] ([MaCaLamViec], [ThoiGianBatDau], [ThoiGianKetThuc]) VALUES (3, CAST(N'2025-10-17T14:00:00.000' AS DateTime), CAST(N'2025-10-17T18:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[CaLamViec] OFF
GO
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaVe], [SoLuong], [DonGia]) VALUES (N'HD0114122500010001', N'VE011412250001', 1, CAST(10000 AS Decimal(12, 0)))
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaVe], [SoLuong], [DonGia]) VALUES (N'HD0114122500010002', N'VE011412250002', 1, CAST(10000 AS Decimal(12, 0)))
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaVe], [SoLuong], [DonGia]) VALUES (N'HD0114122500010003', N'VE011412250003', 1, CAST(10000 AS Decimal(12, 0)))
GO
INSERT [dbo].[ChoDat] ([MaCho], [MaToa], [SoCho], [LoaiCho], [Khoang], [Tang]) VALUES (N'SPT2-1-C01', N'SPT2-1', N'01', N'Ghế mềm', 1, NULL)
INSERT [dbo].[ChoDat] ([MaCho], [MaToa], [SoCho], [LoaiCho], [Khoang], [Tang]) VALUES (N'SPT2-1-C02', N'SPT2-1', N'02', N'Ghế mềm', 1, NULL)
INSERT [dbo].[ChoDat] ([MaCho], [MaToa], [SoCho], [LoaiCho], [Khoang], [Tang]) VALUES (N'SPT2-1-C03', N'SPT2-1', N'03', N'Ghế mềm', 1, NULL)
GO
INSERT [dbo].[ChuyenTau] ([MaChuyenTau], [MaTau], [MaNV], [GaDi], [GaDen], [NgayKhoiHanh], [GioKhoiHanh], [NgayDenDuKien], [GioDenDuKien], [TrangThai]) VALUES (N'CTSPT2SG_PT111225', N'SPT2', N'NVQL0001', N'Ga Sài Gòn', N'Ga Phan Thiết', CAST(N'2025-12-11' AS Date), CAST(N'14:00:00' AS Time), CAST(N'2025-12-12' AS Date), CAST(N'16:00:00' AS Time), N'Chờ khởi hành')
INSERT [dbo].[ChuyenTau] ([MaChuyenTau], [MaTau], [MaNV], [GaDi], [GaDen], [NgayKhoiHanh], [GioKhoiHanh], [NgayDenDuKien], [GioDenDuKien], [TrangThai]) VALUES (N'CTSPT2SG_PT121025', N'SPT2', N'NVQL0001', N'Ga Sài Gòn', N'Ga Phan Thiết', CAST(N'2025-12-10' AS Date), CAST(N'14:00:00' AS Time), CAST(N'2025-12-10' AS Date), CAST(N'16:00:00' AS Time), N'Chờ khởi hành')
INSERT [dbo].[ChuyenTau] ([MaChuyenTau], [MaTau], [MaNV], [GaDi], [GaDen], [NgayKhoiHanh], [GioKhoiHanh], [NgayDenDuKien], [GioDenDuKien], [TrangThai]) VALUES (N'SE4', N'SPT2', N'NVQL0001', N'Ga Sài Gòn', N'Ga Phan Thiết', CAST(N'2025-12-13' AS Date), CAST(N'14:00:00' AS Time), CAST(N'2025-12-13' AS Date), CAST(N'16:00:00' AS Time), N'Chờ khởi hành')
GO
SET IDENTITY_INSERT [dbo].[DieuKienKhuyenMai] ON 

INSERT [dbo].[DieuKienKhuyenMai] ([MaDieuKien], [MaKM], [LoaiDieuKien], [GiaTriDoiChieu]) VALUES (1, N'KM_TE_1_6', N'LOAI_KHACH', N'VT02')
INSERT [dbo].[DieuKienKhuyenMai] ([MaDieuKien], [MaKM], [LoaiDieuKien], [GiaTriDoiChieu]) VALUES (2, N'KM_2_9_SGHN', N'GA_DI', N'GASA')
INSERT [dbo].[DieuKienKhuyenMai] ([MaDieuKien], [MaKM], [LoaiDieuKien], [GiaTriDoiChieu]) VALUES (3, N'KM_2_9_SGHN', N'GA_DEN', N'GAHN')
SET IDENTITY_INSERT [dbo].[DieuKienKhuyenMai] OFF
GO
INSERT [dbo].[Ga] ([MaGa], [TenGa], [DiaChi]) VALUES (N'GADN', N'Ga Đà Nẵng', N'791 Hải Phòng, Đà Nẵng')
INSERT [dbo].[Ga] ([MaGa], [TenGa], [DiaChi]) VALUES (N'GAHN', N'Ga Hà Nội', N'120 Lê Duẩn, Hà Nội')
INSERT [dbo].[Ga] ([MaGa], [TenGa], [DiaChi]) VALUES (N'GAHU', N'Ga Huế', N'02 Bùi Thị Xuân, Thừa Thiên Huế')
GO
INSERT [dbo].[HoaDon] ([MaHD], [MaKhachHang], [MaNVLap], [MaKM], [TongCong], [NgayLap], [PhuongThuc], [LoaiHoaDon], [TongTien], [MaHD_Goc]) VALUES (N'HD0114122500010001', N'KH1412250001', N'NVBV0001', NULL, NULL, CAST(N'2025-12-14T17:26:33.210' AS DateTime), N'Tiền mặt', N'Bán vé trực tiếp', CAST(11000 AS Decimal(12, 0)), NULL)
INSERT [dbo].[HoaDon] ([MaHD], [MaKhachHang], [MaNVLap], [MaKM], [TongCong], [NgayLap], [PhuongThuc], [LoaiHoaDon], [TongTien], [MaHD_Goc]) VALUES (N'HD0114122500010002', N'KH1412250001', N'NVBV0001', NULL, NULL, CAST(N'2025-12-14T17:27:27.830' AS DateTime), N'Tiền mặt', N'Bán vé trực tiếp', CAST(11000 AS Decimal(12, 0)), NULL)
INSERT [dbo].[HoaDon] ([MaHD], [MaKhachHang], [MaNVLap], [MaKM], [TongCong], [NgayLap], [PhuongThuc], [LoaiHoaDon], [TongTien], [MaHD_Goc]) VALUES (N'HD0114122500010003', N'KH1412250001', N'NVBV0001', NULL, NULL, CAST(N'2025-12-14T17:29:51.043' AS DateTime), N'Tiền mặt', N'Bán vé trực tiếp', CAST(11000 AS Decimal(12, 0)), NULL)
GO
INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTen], [CCCD], [Tuoi], [SoDienThoai], [GioiTinh], [NgaySinh]) VALUES (N'KH1412250001', N'Duy', N'060205006764', NULL, N'0332534541', NULL, CAST(N'2005-09-09' AS Date))
INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTen], [CCCD], [Tuoi], [SoDienThoai], [GioiTinh], [NgaySinh]) VALUES (N'KH1412250002', N'Nguyễn Văn A', N'011990000011', NULL, N'0901112222', NULL, CAST(N'1990-01-01' AS Date))
INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTen], [CCCD], [Tuoi], [SoDienThoai], [GioiTinh], [NgaySinh]) VALUES (N'KH1412250003', N'Trần Thị B', N'022050000021', NULL, N'0912345678', NULL, CAST(N'2005-05-15' AS Date))
GO
INSERT [dbo].[KhuyenMai] ([MaKM], [TenKM], [NgayBatDau], [NgayKetThuc], [MoTa], [PhanTramGiam], [GiaTienGiamTru], [LoaiApDung], [TrangThai]) VALUES (N'KM_2_9_SGHN', N'Giảm 5% hóa đơn SG-HN 2/9', CAST(N'2026-09-02' AS Date), CAST(N'2026-09-02' AS Date), N'Giảm 5% tổng hóa đơn cho chuyến SG-HN', CAST(0.0500 AS Decimal(7, 4)), CAST(0 AS Decimal(18, 0)), N'HOA_DON', N'HoatDong')
INSERT [dbo].[KhuyenMai] ([MaKM], [TenKM], [NgayBatDau], [NgayKetThuc], [MoTa], [PhanTramGiam], [GiaTienGiamTru], [LoaiApDung], [TrangThai]) VALUES (N'KM_4VE', N'Giảm 10% khi mua 4 vé', CAST(N'2025-10-01' AS Date), CAST(N'2026-01-31' AS Date), N'Giảm 10% khi mua từ 4 vé cùng lúc', CAST(0.1000 AS Decimal(7, 4)), CAST(0 AS Decimal(18, 0)), N'HOA_DON', N'HoatDong')
INSERT [dbo].[KhuyenMai] ([MaKM], [TenKM], [NgayBatDau], [NgayKetThuc], [MoTa], [PhanTramGiam], [GiaTienGiamTru], [LoaiApDung], [TrangThai]) VALUES (N'KM_50K_500', N'Giảm 50k cho đơn 500k', CAST(N'2025-01-01' AS Date), CAST(N'2026-12-31' AS Date), N'Giảm 50.000 VND cho đơn hàng trên 500.000 VND', CAST(0.0000 AS Decimal(7, 4)), CAST(50000 AS Decimal(18, 0)), N'HOA_DON', N'HoatDong')
GO
INSERT [dbo].[LoaiVe] ([MaLoaiVe], [TenLoaiVe], [MucGiamGia]) VALUES (N'VT01', N'Người lớn', 0)
INSERT [dbo].[LoaiVe] ([MaLoaiVe], [TenLoaiVe], [MucGiamGia]) VALUES (N'VT02', N'Trẻ em (Dưới 12)', 0.15)
INSERT [dbo].[LoaiVe] ([MaLoaiVe], [TenLoaiVe], [MucGiamGia]) VALUES (N'VT03', N'Người cao tuổi', 0.2)
GO
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [SoCCCD], [NgaySinh], [Email], [SDT], [GioiTinh], [DiaChi], [NgayVaoLam], [ChucVu], [CaLamViec]) VALUES (N'NVBV0001', N'Lê Thị B', N'001198000002', CAST(N'1998-10-22' AS Date), N'thib@vetausg.vn', N'0902345678', N'Nữ', N'200 Trường Chinh, TP. HCM', CAST(N'2020-01-10' AS Date), N'Nhân viên bán vé', 1)
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [SoCCCD], [NgaySinh], [Email], [SDT], [GioiTinh], [DiaChi], [NgayVaoLam], [ChucVu], [CaLamViec]) VALUES (N'NVQL0001', N'Trần Văn A', N'001195000001', CAST(N'1995-05-15' AS Date), N'vantrana@vetausg.vn', N'0901234567', N'Nam', N'100 Quang Trung, Hà Nội', CAST(N'2018-08-20' AS Date), N'Trưởng phòng', NULL)
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [SoCCCD], [NgaySinh], [Email], [SDT], [GioiTinh], [DiaChi], [NgayVaoLam], [ChucVu], [CaLamViec]) VALUES (N'NVQL0002', N'Phạm Văn C', N'001190000003', CAST(N'1990-01-01' AS Date), N'vanphamc@vetausg.vn', N'0903456789', N'Nam', N'300 Hai Bà Trưng, Đà Nẵng', CAST(N'2015-03-05' AS Date), N'Quản lý', NULL)
GO
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MaNV], [MatKhau], [NgayTao], [TrangThai]) VALUES (N'NVBV0001', N'NVBV0001', N'admin', CAST(N'2025-10-17T15:32:05.287' AS DateTime), N'Hoạt động')
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MaNV], [MatKhau], [NgayTao], [TrangThai]) VALUES (N'NVQL0001', N'NVQL0001', N'admin', CAST(N'2025-10-17T15:32:05.287' AS DateTime), N'Hoạt động')
GO
INSERT [dbo].[Tau] ([SoHieu], [TrangThai]) VALUES (N'SE1', N'Đang hoạt động')
INSERT [dbo].[Tau] ([SoHieu], [TrangThai]) VALUES (N'SE2', N'Đang hoạt động')
INSERT [dbo].[Tau] ([SoHieu], [TrangThai]) VALUES (N'SE21', N'Đang hoạt động')
GO
INSERT [dbo].[Toa] ([MaToa], [SoHieuTau], [LoaiToa]) VALUES (N'SE1-A', N'SE1', N'Ghế mềm')
INSERT [dbo].[Toa] ([MaToa], [SoHieuTau], [LoaiToa]) VALUES (N'SE1-B', N'SE1', N'Giường nằm')
INSERT [dbo].[Toa] ([MaToa], [SoHieuTau], [LoaiToa]) VALUES (N'SE1-C', N'SE1', N'Ghế mềm ')
GO
INSERT [dbo].[Ve] ([MaVe], [MaChuyenTau], [MaChoDat], [MaNV], [MaKhachHang], [MaLoaiVe], [GiaVe], [TrangThai], [ThanhTien]) VALUES (N'VE011412250001', N'SPT2', N'SPT2-5-C28', N'NVBV0001  ', N'KH1412250002', N'VT01', CAST(15000 AS Decimal(18, 0)), N'DA_BAN', NULL)
INSERT [dbo].[Ve] ([MaVe], [MaChuyenTau], [MaChoDat], [MaNV], [MaKhachHang], [MaLoaiVe], [GiaVe], [TrangThai], [ThanhTien]) VALUES (N'VE011412250002', N'SPT2', N'SPT2-5-C27', N'NVBV0001  ', N'KH1412250003', N'VT02', CAST(11250 AS Decimal(18, 0)), N'DA_BAN', NULL)
INSERT [dbo].[Ve] ([MaVe], [MaChuyenTau], [MaChoDat], [MaNV], [MaKhachHang], [MaLoaiVe], [GiaVe], [TrangThai], [ThanhTien]) VALUES (N'VE011412250003', N'SPT2', N'SPT2-5-C26', N'NVBV0001  ', N'KH1412250004', N'VT01', CAST(15000 AS Decimal(18, 0)), N'DA_BAN', NULL)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_KhachHang_CCCD]    Script Date: 14/12/2025 7:39:32 CH ******/
ALTER TABLE [dbo].[KhachHang] ADD  CONSTRAINT [UQ_KhachHang_CCCD] UNIQUE NONCLUSTERED 
(
	[CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_NhanVien_SoCCCD]    Script Date: 14/12/2025 7:39:32 CH ******/
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [UQ_NhanVien_SoCCCD] UNIQUE NONCLUSTERED 
(
	[SoCCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_TaiKhoan_MaNV]    Script Date: 14/12/2025 7:39:32 CH ******/
ALTER TABLE [dbo].[TaiKhoan] ADD  CONSTRAINT [UQ_TaiKhoan_MaNV] UNIQUE NONCLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiTietHoaDon] ADD  DEFAULT ((0)) FOR [DonGia]
GO
ALTER TABLE [dbo].[HoaDon] ADD  CONSTRAINT [DF_HoaDon_NgayLap]  DEFAULT (getdate()) FOR [NgayLap]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  CONSTRAINT [DF_TaiKhoan_NgayTao]  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[ChoDat]  WITH CHECK ADD  CONSTRAINT [FK_ChoDat_Toa] FOREIGN KEY([MaToa])
REFERENCES [dbo].[Toa] ([MaToa])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChoDat] CHECK CONSTRAINT [FK_ChoDat_Toa]
GO
ALTER TABLE [dbo].[ChuyenTau]  WITH CHECK ADD  CONSTRAINT [FK_ChuyenTau_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[ChuyenTau] CHECK CONSTRAINT [FK_ChuyenTau_NhanVien]
GO
ALTER TABLE [dbo].[DieuKienKhuyenMai]  WITH CHECK ADD  CONSTRAINT [FK_DieuKienKhuyenMai_KhuyenMai] FOREIGN KEY([MaKM])
REFERENCES [dbo].[KhuyenMai] ([MaKM])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DieuKienKhuyenMai] CHECK CONSTRAINT [FK_DieuKienKhuyenMai_KhuyenMai]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVienLap] FOREIGN KEY([MaNVLap])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVienLap]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_CaLamViec] FOREIGN KEY([CaLamViec])
REFERENCES [dbo].[CaLamViec] ([MaCaLamViec])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_CaLamViec]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_NhanVien]
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD  CONSTRAINT [FK_Ve_ChoDat] FOREIGN KEY([MaChoDat])
REFERENCES [dbo].[ChoDat] ([MaCho])
GO
ALTER TABLE [dbo].[Ve] CHECK CONSTRAINT [FK_Ve_ChoDat]
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD  CONSTRAINT [FK_Ve_ChuyenTau] FOREIGN KEY([MaChuyenTau])
REFERENCES [dbo].[ChuyenTau] ([MaChuyenTau])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Ve] CHECK CONSTRAINT [FK_Ve_ChuyenTau]
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD  CONSTRAINT [FK_Ve_KhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[Ve] CHECK CONSTRAINT [FK_Ve_KhachHang]
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD  CONSTRAINT [FK_Ve_LoaiVe] FOREIGN KEY([MaLoaiVe])
REFERENCES [dbo].[LoaiVe] ([MaLoaiVe])
GO
ALTER TABLE [dbo].[Ve] CHECK CONSTRAINT [FK_Ve_LoaiVe]
GO
USE [master]
GO
